<footer class="page-footer" style="background-color: #355d9e;">
    <div class="container">
                <h5 class="white-text">Developer Contacts:</h5>
                <ul style="display: flex;">
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/shivam-thakur-49096a1ba/">LinkedIn</a></li>
                    <li style="margin-left: 10px;"><a class=" grey-text text-lighten-3 " href="https://github.com/shivam-thakur01 ">GitHub</a></li>
                    <li style="margin-left: 10px;"><a class="grey-text text-lighten-3 " href="https://leetcode.com/thakur_01/ ">LeetCode</a></li>
                </ul>
    </div>
    <div class="footer-copyright ">
        <div class="container ">
            © 2022 Copyright All rights are not reserved!
            <a class="grey-text text-lighten-4 right " href=" ">Back to Top</a>
        </div>
    </div>
</footer>